body {
    overflow-x: hidden
}

.introduce-logo {
    width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #226FCE;
    position: relative;
    height: 84px;
}

.introduce-logo span {
    color: #A0A4AA;
}

.introduce-logo .introduce-btn {
    color: #4390F0;
    cursor: pointer;
    margin-right: 15px;
}

.introduce-logo .introduce-btn1 {
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: #4390F0;
    color: #fff;
}

.introduce-logo .introduce-btn2 {
    height: 100%;
    background: #3C98E8;
    color: #fff;
    font-size: 16px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.introduce-logo .introduce-btn2:first-child {
    border-left: 1px solid #F1F1F1;
    color: #A0A4AA;
    background: none;
}

.introduce-logo img:first-child {
    width: 75px;
    height: 45px;
    cursor: pointer;
}

.introduce-logo .introduce-logo-line {
    margin: 0px 15px;
}

.introduce-logo-left {
    display: flex;
    align-items: center;
    color:#3C98E8
}

.introduce-logo-right {
    display: flex;
    align-items: center;
    height: 100%;
}

.introduce-logo-center {
    display: flex;
    height: 100%;
    align-items: center;
}

.introduce-logo-center .introduce_nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0px 35px;
    border-bottom: 3px solid #fff;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
}

.introduce-logo-center .introduce_nav:hover {
    color: #3C98E8;
}

.introduce-logo-center .introduce_nav.current {
    border-bottom: 3px solid #3C98E8;
}

.introduce-header {
    width: 100%;
    min-width: 1200px;
    background: #fff;
    box-shadow: 0px 2px 10px 0px #ffffff;
    position: fixed;
    top: 0px;
    z-index: 2;
    border-bottom: 1px solid #F1F1F1;
}

.introduce-container {
    width: 100%;
    overflow-x: hidden;
    background-color: #ffffff;
}

.content-box {
    width: 100%;
    padding-top: 84px;
    min-width: 1200px;
}

.line {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.line1 {
    margin-top: 145px;
}

.line1 .by {
    width: 79px;
    position: absolute;
    right: 0px;
    top: -40px;
}

.line1 .introduce-img {
    width: 707px;
    margin-right: 40px;
}

.line1 .introduce-img img {
    width: 100%;
    height: 383px;
}

.line1 .introduce-text h2 {
    font-size: 50px;
    color: #3C98E8;
    font-weight: 600;
    line-height: 1em;
}

.line1 .introduce-text h3 {
    color: #3C98E8;
    font-size: 24px;
    line-height: 1em;
    margin-top: 18px;
}

.line1 .introduce-text p {
    font-size: 16px;
    color: #77797C;
    margin-top: 40px;
}

.line1 .introduce-text button {
    width: 110px;
    height: 36px;
    line-height: 36px;
    color: #3C98E8;
    text-align: center;
    border: 1px solid #3C98E8;
    margin-top: 12px;
    cursor: pointer;
}

.line2 {
    justify-content: center;
    border: 1px solid #F1F1F1;
    padding: 18px 0px;
    position: relative;
    top: -4px;
}

.line2 .nave-item {
    display: flex;
    align-items: center;
    padding: 0 50px;
    cursor: pointer;
}

.line2 .nave-item img {
    width: 56px;
    height: 56px;
    padding-right: 10px;
}

.line2 .nave-item h2 {
    font-size: 20px;
    font-weight: bold;
}

.line2 .nave-item h3 {
    font-size: 16px;
    color: #A0A4AA;
    font-weight: 398;
}

.line2_copy {
    height: 97px;
}

.isFixed {
    position: fixed;
    top: 60px;
    background-color: white;
    z-index: 999;
}

.line3 {
    position: relative;
    justify-content: flex-end;
    margin-top: 20px;
}

.line3 img:nth-child(1) {
    width: 112px;
    position: absolute;
    top: -15px;
    left: 0px;
}

.line3 img:nth-child(2) {
    width: 1000px;
    position: relative;
    right: 50%;
    top: 40px;
    margin-right: -680px;
}

.line4 {
    width: 100%;
    height: 580px;
    background-size: 100%;
    position: relative;
    margin: 70px 0px;
}

.line4_item_left {
    width: 151px;
    height: 308px;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -154px;
}

.line4_item_right {
    width: 55%;
    height: 480px;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    left: 45%;
    top: 48px;
}

.line4_item_right img {
    min-width: 100%;
    min-height: 100%;
}

.line4_items {
    width: 480px;
    padding: 0px 0px 0px 50px;
    border: 2px solid #E4E9EA;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -120px;
}

.line4_items .line4_item {
    display: flex;
    align-items: center;
    margin: 30px 0px;
}

.line4_items .line4_item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.line4_items .line4_item span {
    color: #35383A;
    font-size: 20px;
}

.line4_items1 {
    width: 480px;
    padding: 20px 0px 20px 50px;
    border: none;
    position: absolute;
    right: 50%;
    top: 50%;
    margin-right: -540px;
    margin-top: -140px;
}

.line4_items1 .line4_item {
    display: flex;
    align-items: center;
    margin: 30px 0px;
}

.line4_items1 .line4_item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.line4_items1 .line4_item span {
    color: #ffffff;
    font-size: 20px;
}

.line4_name {
    width: 531px;
    height: 70px;
    position: absolute;
    right: 50%;
    margin-right: -590px;
    top: 100px;
    display: inline-block;
    text-align: center;
    background: url("../images/introducePage_icon_33.png") no-repeat center;
    background-size: 100%;
}

.line4_name span {
    font-size: 44px;
    color: #ffffff;
    position: relative;
    top: -40px;
    opacity: 0;
    transition: all 0.3s linear;
}

.line4_name .toshow {
    top: -21px;
    opacity: 1;
}

.line5 {
    position: relative;
    height: 450px;
    background: url("../images/introducePage_icon_11.png") no-repeat center bottom;
}

.line5 .cj {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 151px;
    transform: translate(0, 50%);
}

.line5 .line5_items_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.line5 .line5_items_box .line5_item {
    width: 336px;
    text-align: center;
    cursor: pointer;
}

.line5 .line5_items_box .line5_item .line5_item_img {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line5 .line5_items_box .line5_item .line5_item_img img {
    width: 88px;
    height: 88px;
    transition: all 0.2s linear;
}

.line5 .line5_items_box .line5_item .line5_item_img .img_hover {
    width: 100px;
    height: 100px;
}

.line5 .line5_items_box .line5_item .line5_item_img_name {
    margin-top: 10px;
}

.line5 .line5_items_box .line5_item .line5_item_img_name span {
    color: #3C98E8;
    font-size: 30px;
}

.line5 .line5_title_box {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line5 .line5_title_box .line5_title {
    background: url("../images/introducePage_icon_12.png") center no-repeat;
    background-size: 100%;
}

.line5 .line5_title_box .line5_title span {
    font-size: 44px;
    color: #3C98E8;
    position: relative;
    top: -50px;
    opacity: 0;
    transition: all 0.3s linear;
}

.line5 .line5_title_box .line5_title .toshow {
    top: -24px;
    opacity: 1;
}

.line5 .line5_bottom_box {
    position: relative;
    height: 150px;
}

.line5 .line5_bottom_box .line5_item_line {
    width: 336px;
    height: 2px;
    background: linear-gradient(130.4deg, #0f7aff, #0fc9ff);
    position: absolute;
    left: 50%;
    margin-left: -672px;
    top: 58px;
    transition: all linear 0.3s;
}

.line5 .line5_bottom_box .line5_item_info {
    width: 336px;
    text-align: center;
    padding-top: 30px;
    margin-top: 60px;
    position: absolute;
    left: 50%;
    margin-left: -672px;
}

.line5 .line5_bottom_box .line5_item_info h2 {
    font-size: 24px;
    color: #4A4A4A;
}

.line5 .line5_bottom_box .line5_item_info h3 {
    color: #A0A4AA;
    font-size: 14px;
}

.line6 {
    text-align: center;
    padding-top: 60px;
    position: relative;
}

.line6 img {
    width: 1200px;
}

.line6 p {
    position: absolute;
    text-align: left;
    width: 750px;
    left: 50%;
    margin-left: -375px;
    top: 325px;
    line-height: 24px;
    font-size: 14px;
    color: #35383A;
}

.line7 {
    width: 1200px;
    height: 167px;
    background: url("../images/introducePage_icon_15.png") no-repeat center;
    background-size: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -88px;
    margin-bottom: 80px;
}

.line7 .title_info_box {
    width: 637px;
    height: 50px;
    line-height: 50px;
    background: url("../images/introducePage_icon_14.png") no-repeat center;
    background-size: 100%;
    margin: 0 auto;
    position: relative;
    top: 115px;
}

.line7 .title_info_box span {
    font-size: 40px;
    color: #3C98E8;
    position: relative;
    top: -50px;
    opacity: 0;
    transition: all 0.3s linear;
}

.line7 .title_info_box .toshow {
    top: -20px;
    opacity: 1;
}

.line8 {
    height: 410px;
    position: relative;
}

.line8>div {
    display: inline-block;
}

.line8 .img-middle {
    width: 818px;
    height: 370px;
    background: url("../images/introducePage_icon_20.png") no-repeat center;
    background-size: 100%;
    background-position-y: 0px;
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    margin-top: -174px;
    margin-left: -409px;
}

.line8 .img-top {
    width: 526px;
    height: 162px;
    background: url("../images/introducePage_icon_23.png") no-repeat center;
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    margin-top: -330px;
    margin-left: -170px;
    padding: 40px 0 0 242px;
}

.line8 .img-left {
    width: 443px;
    height: 275px;
    background: url("../images/introducePage_icon_21.png") no-repeat center;
    background-size: 100%;
    background-position-y: 0px;
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    margin-top: -125px;
    margin-left: -585px;
    padding: 30px 20px 30px 100px;
}

.line8 .img-left .img-item-box {
    line-height: 25px;
}

.line8 .img-left .img-item-box span:nth-child(1) {
    top: 10px;
}

.line8 .img-left .img-item-box span:nth-child(2) {
    width: 308px;
}

.line8 .img-right {
    width: 270px;
    height: 229px;
    background: url("../images/introducePage_icon_22.png") no-repeat center;
    background-size: 100%;
    background-position-y: 0px;
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    margin-top: -135px;
    margin-left: 300px;
    padding: 150px 0 0 50px;
}

.line8 .img-item-box {
    display: flex;
    align-items: center;
    line-height: 30px;
    position: relative;
    opacity: 0;
    left: 100px;
    transition: all 0.5s linear;
}

.line8 .img-item-box span:nth-child(1) {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
}

.line8 .img-item-box span:nth-child(2) {
    font-size: 18px;
    color: #1E3700;
    margin-left: 15px;
}

.line8 .img-item-box .bc-blue {
    background-color: #4281F1;
}

.line8 .img-item-box .bc-pink {
    background-color: #AC58FB;
}

.line8 .img-item-box-show {
    opacity: 1;
    left: 0px;
}

.line9 {
    width: 1200px;
    height: 114px;
    background: url("../images/introducePage_icon_24.png") no-repeat center;
    background-size: 100%;
    margin: 0 auto;
}

.line10 {
    height: 66px;
    background-color: #F9FCFF;
    line-height: 66px;
    text-align: center;
    border-top: 1px solid #EAEAEA;
}

.line10 span {
    font-size: 12px;
    color: #585D62;
}

.line11 {
    text-align: center;
    padding-top: 50px;
}

.line11 .title {
    font-family: "PingFang SC";
    font-weight: 300;
    color: #35383A;
    font-size: 50px;
    line-height: 1em;
}

.line11 .smalltitle {
    font-size: 16px;
    color: #A0A4AA;
    line-height: 1em;
    margin-top: 18px;
}

.line11 .btn {
    background: linear-gradient(130.4deg, #0f7aff, #0fc9ff);
    cursor: pointer;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
    margin-top: 34px;
    display: inline-block;
    width: 155px;
    height: 50px;
}

.line12 {
    height: 600px;
    width: 100%;
    position: relative;
    background: url("../images/introduce_line11_bg1.png") no-repeat center top;
}

.line12 .cirlce {
    position: absolute;
    right: 0px;
    top: 0px;
}

.line12 .videobox {
    width: 800px;
    background: #fff;
    margin: 0 auto;
    margin-top: 100px;
    background: #fff;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 2px 24px 0px rgba(229, 229, 229, 0.5);
    border-radius: 6px;
}

.line12 .videobox .video-player {
    border: 6px solid #fff;
    border-radius: 6px;
}

.introduce-bottom {
    width: 100%;
    padding: 99px 0 16px 0;
    background-color: #F9FCFF;
    text-align: center;
}

.introduce-bottom h2 {
    font-size: 40px;
    color: #35383A;
}

.introduce-bottom h3 {
    font-size: 18px;
    color: #35383A;
    margin: 26px 0 36px 0px;
}

.introduce-bottom .input-box input {
    width: 500px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #ECECEC;
    border-radius: 25px;
    text-indent: 30px;
    font-size: 16px;
    margin-right: 26px;
}

.introduce-bottom .input-box button {
    width: 145px;
    height: 50px;
    background: linear-gradient(130.4deg, #03a9f4, #0fc9ff);
    color: white;
    border-radius: 25px;
}

.introduce-bottom .ewm-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.introduce-bottom .ewm-box>span {
    font-size: 14px;
    color: #71777D;
    padding: 0px 38px;
}

.introduce-bottom .ewm-box .ewm-imgbox {
    position: relative;
    margin-right: 40px;
}

.introduce-bottom .ewm-box .ewm-img1 {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.introduce-bottom .ewm-box .ewm-img1:hover+.ewm_item1 {
    visibility: visible;
    transform: translate(-50%, 0px);
    opacity: 1;
    transition: all 0.3s;
}

.introduce-bottom .ewm-box .ewm-img1:hover {
    opacity: 0.6;
}

.introduce-bottom .ewm-box a {
    font-size: 12px;
    color: #71777D;
    padding: 0px 38px;
    cursor: pointer;
}

.introduce-bottom .ewm-box .ewm_item1 {
    width: 200px;
    height: 235px;
    background: url("../../images/introducePage_icon_29.png") no-repeat center;
    background-size: 100%;
    position: absolute;
    visibility: hidden;
    left: 50%;
    top: -230px;
    opacity: 0;
    transform: translate(-50%, -10px);
    transition: all 0.3s;
}

.introduce-bottom .ewm-box .ewm_item1 img {
    width: 180px;
    height: 180px;
    margin-top: 21px;
}

.ewm-items-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
}

.ewm-items-box .ewm-item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    font-size: 12px;
}

.ewm-items-box .ewm-item-box>img {
    width: 126px;
    height: 126px;
}

.ewm-items-box .ewm-item-box>span {
    color: #A0A4AA;
    letter-spacing: 1px;
}

.ewm-items-box .ewm-item-box>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3px 0px;
}

.ewm-items-box .ewm-item-box>div img {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.ewm-items-box .ewm-item-box>div span {
    color: #35383A;
    font-weight: bold;
}




/* 价格页 */

.vip_container {
    padding-top: 60px;
}

.vip_container .content-box {
    width: 100%;
    min-width: 1200px;
    padding-top: 0px;
}

.vip_container .vip_introduce {
    text-align: center;
    width: 720px;
    margin: 100px auto 0px;
}

.vip_container .vip_introduce>h2 {
    font-size: 42px;
    color: #282828;
    margin-bottom: 30px;
    line-height: 1em;
    font-weight: 300;
}

.vip_container .vip_introduce>p {
    font-size: 14px;
    color: #35383a;
    line-height: 24px;
}

.vip_container .vip_contact {
    margin-top: 32px;
    text-align: center;
}

.vip_container .vip_contact>h2 {
    font-size: 12px;
    color: #1787fb;
}

.vip_container .vip_contact .vip_contact_phone {
    margin-top: 5px;
    font-size: 20px;
    color: #1787fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vip_container .vip_contact .vip_contact_phone span {
    font-size: 20px;
    color: #1787fb;
}

.vip_container .vip_contact .vip_contact_phone img {
    width: 20px;
    height: 16px;
    margin-right: 10px;
}

.vip_container .package_list {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.vip_container .package_item {
    width: 350px;
    margin: 0px 25px;
}

.vip_container .package_title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #282828;
    line-height: 1em;
}

.vip_container .package_smalltitle,
.vip_container .package_minititle {
    line-height: 1em;
    height: 14px;
    font-size: 14px;
    margin-top: 8px;
    color: #282828;
    text-align: center;
}

.vip_container .package_btn {
    width: 100%;
    height: 60px;
    cursor: pointer;
    background: #89c5f9;
    text-align: center;
    line-height: 60px;
    border-radius: 30px;
    margin-top: 14px;
    color: #fff;
    font-size: 24px;
}

.vip_container .package_btn .noDiscount {
    color: #fff;
    font-size: 24px;
    text-decoration: line-through;
    opacity: 0.5;
    margin-right: 15px;
    letter-spacing: 1px;
}

.vip_container .package_btn .haveDiscount {
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 400;
}

.vip_container .package_item.current .package_title {
    transition: all 0.3s;
    color: #1787fb;
}

.vip_container .package_item.current .package_smalltitle,
.vip_container .package_item.current .package_minititle {
    transition: all 0.3s;
    color: #1787fb;
}

.vip_container .package_item.current .package_btn {
    transition: all 0.3s;
    background: url("../images/introduce_vipprice_btnbg.png") no-repeat;
}

.vip_container .package_vipfuncbox {
    padding: 0px 30px;
    margin-top: 30px;
}

.vip_container .package_vipitem_title {
    font-size: 14px;
    color: #a0a4aa;
}

.vip_container .package_vipitem_title1 {
    text-align: center;
}

.vip_container .package_vipitem_radiobox {
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.vip_container .package_vipitem_radio{
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.vip_container .package_vipitem_radio.current{
  color: #409EFF;
}
.vip_container .package_vipitem_radio span{
    font-size: 14px;
    padding-left: 10px;
    margin-top: 2px;
}

.vip_container .el_radio_group_box {
    display: flex;
    margin-top: 30px;
    width: calc(100% + 30px);
}

.vip_container .el_radio_group_box .icon_tj {
    width: 22px;
    height: 12px;
    position: relative;
    top: 2px;
}

.vip_container .package_vipfunclist {
    margin-top: 30px;
}

.vip_container .package_vipfuncitem {
    display: flex;
    margin-bottom: 28px;
    align-items: center;
}

.vip_container .package_vipfuncitem .iconfont {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.vip_container .package_vipfuncitem .icon-xuanzhong,
.vip_container .package_vipfuncitem .icon-zhengque {
    color: #3c98e8;
}

.vip_container .package_vipfuncitem .icon-danxuanweixuanzhong {
    color: #e4e4e4;
}

.vip_container .package_vipfuncitem .package_vipfunc_img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 5px;
}

.vip_container .package_vipfuncitem .package_vipfunc_text {
    color: #282828;
    font-size: 14px;
    flex-grow: 1;
}

.vip_container .package_vipfuncitem .package_vipfunc_span {
    width: 64px;
    height: 26px;
    font-weight: 400;
    background: linear-gradient(146deg, #fbd249, #f7b421, #f5a623);
    text-align: center;
    border-radius: 13px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 26px;
}